.encabezado{
    display: flex;
    border-bottom: solid;
    border-color: rgb(105, 15, 189);
    
}

#logo_riwi{
    width: 210px;
    height: 140px;
}

#titulo_1{
    position: absolute;
    left: 40%;
    top: 5%;
}

#imagen_1{
    width:170px ;
    height: 170 px;
    border-style: inset;
    padding: 2px;
}

#imagen_2{
    width:170px ;
    height: 170 px;
    border-style: inset;
}

#imagen_3{
    width:170px ;
    height: 170 px;
    border-style: inset;
}

#imagen_4{
    width:170px ;
    height: 170 px;
    border-style:inset;
}

#imagen_5{
    width:170px ;
    height: 170 px;
    border-style: inset;
}

#imagen_6{
    width:170px ;
    height: 170 px;
    border-style:inset;
}

#parrafo_1{
    font-style: normal;
}

#parrafo_2{
    
}

#parrafo_3{
    
}

#parrafo_4{
    
}

#parrafo_5{
    
}

#parrafo_6{
    
}