@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mate SC", serif;
}

.encabezado{
    display: flex;
    border-bottom: solid;
    border-color: rgb(105, 15, 189);
    
}

#logo_riwi{
    width: 212px;
    height: 143px;
}

#titulo_1{
    position: absolute;
    left: 42%;
    top: 7%;
}

.seccion_1{
    margin-top: 18px;
    gap:7px;
}

.contenedor-imagen{
    width: 200px;
    height: 200px;
    border-style: inset;
    border-radius: 30px;
    border-width: 5px;
    border-color: gray;
    position: relative;
    left: 8px;
    gap: 6px;
}

.contenedor{
    margin-top: 35px;
    display:flex;
}

.contenedor-texto{
    position: relative;
    left: 5px;
    margin:15px;
    text-align: center;
}

#titulo_basica{
    position: sticky;
    top: 0px;
    background-color: rgb(105, 15, 189);
    width: 100%;
    z-index: 1;
}

#titulo_avanzada{
    position: sticky;
    top: 0px;
    background-color: rgb(105, 15, 189);
    width: 100%;
    z-index: 1;
}